* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f63232;
  padding: 20px;
  text-align: center;
}

header h1 {
  display: inline-block;
  color: white;
  border: 8px solid white;
  border-radius: 36px;
  padding: 6px 12px;
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome {
  position: absolute;
  left: 0;
  top: 30%;
  background-color: #feb614;
  color: white;
  padding: 30px;
}

.banner h2 {
  font-size: 74px;
}

.banner h2 span {
  font-size: 1.3em;
}

nav {
  position: sticky;
  top: 105.47px;
  background-color: #f4f4f4;
  padding: 20px;
}

nav ul {
  max-width: 1200px;
  margin: 0 auto;
  white-space: nowrap;
}

nav li {
  display: inline-block;
  width: 25%;
  font-size: 24px;
}

nav li a {
  color: #4b4b4b;
  text-decoration: none;
}
nav li a.sign-up {
  color: #f63232;
}

main {
  width: 1200px;
  max-width: 100%;
  margin: 80px auto;
  padding: 0 40px;
}

article h2 {
  color: #f63232;
  font-size: 48px;
}

article p {
  color: #4b4b4b;
  line-height: 2em;
}

.images {
  margin: 80px 0;
  text-align: center;
  white-space: nowrap;
}

.images li {
  display: inline-block;
  width: 40%;
  margin: 20px 5%;
}

.images li img {
  width: 100%;
}

.join {
  background-color: #f4f4f4;
  text-align: center;
  padding: 60px 20px;
  color: #4b4b4b;
}

.join h2 {
  font-size: 30px;
}

form input {
  width: 500px;
  max-width: 100%;
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
  border: 4px solid white;
}

footer {
  padding: 10px;
  background-color: #f63232;
  color: white;
  text-align: center;
}

nav li a:hover {
  text-decoration: underline;
}

.images li:hover {
  position: relative;
  top: -4px;
}

form input:focus {
  border: 4px dashed #4b4b4b;
  outline: none;
}

form input:valid {
  border: 4px solid #71d300;
}

article p::first-line {
  font-size: 1.2em;
  font-weight: bold;
}

section.join p::first-letter {
  font-size: 1.5em;
}

section.join p::selection {
  background-color: #f63232;
  color: white;
}

p::after {
  content: "...";
}

@media screen and (max-width: 1400px) {
  .banner .welcome h2 {
    font-size: 60px;
  }

  nav li {
    font-size: 18px;
  }
}

@media screen and (max-width: 960px) {
  .banner .welcome h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 700px) {
  .banner .welcome {
    position: relative;
    padding: 10px;
    text-align: center;
  }

  .banner .welcome br {
    display: none;
  }

  .banner .welcome h2 {
    font-size: 25px;
  }

  .banner .welcome span {
    font-size: 1em;
  }

  .images li {
    display: block;
    width: 100%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 560px) {
  header {
    position: relative;
  }

  nav {
    top: 0;
  }

  nav li {
    display: block;
    width: 100%;
    margin: 12px 0;
    font-size: 20px;
  }
}
